.bg-black{
    background-color: black;
}
.text-white-0-5{
    color: #ffffffa1;
}
p{
    font-weight: 600;
    margin: 0;
}
.form-control:focus{
    color: #0093DD;
    background-color: #fff;
    border-color: #0093DD;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #0093dd5e;
}
hr{
    width: 50px;
    height: 3px;
    color: #0093DD;
    background-color: #0093DD;
    border: none;
}
.breadcrumb{
    background-color: #1e2022 !important;
}